spring:
  application:
    name: api-gateway-service
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: auth-service
              uri: lb://AUTH-SERVICE
              predicates:
                - Path=/api/v1/auth/**
              filters:
                - StripPrefix=3
            - id: auth-service
              uri: lb://AUTH-SERVICE
              predicates:
                - Path=/oauth2/**
            - id: user-service
              uri: lb://USER-SERVICE
              predicates:
                - Path=/api/v1/user/**
              filters:
                - name: StripPrefix
                  args:
                    _genkey_0: '3'
            - id: match-service
              uri: lb://MATCH-SERVICE
              predicates:
                - Path=/api/v1/match/**
              filters:
                - StripPrefix=3
          discovery:
            locator:
              enabled: true
  main:
    allow-bean-definition-overriding: true
server:
  port: 8080

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

jwt:
  secret:
    key: aluesgo8q37g4tifqbhrefg8g3124ib801g7br18b7gb17g4b
  expiration:
    time: 3600

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    reactor.netty: DEBUG
    reactor.netty.http.client: DEBUG
    reactor.netty.http.server: DEBUG
    io.netty: DEBUG
    org.springframework.web.reactive: DEBUG
    org.springframework.web.server: DEBUG
    com.netflix.discovery: INFO
    org.springframework.cloud.client.discovery: DEBUG
    org.springframework.cloud.loadbalancer: DEBUG
    org.springframework.cloud.gateway.handler.predicate: TRACE
    org.springframework.cloud.gateway.handler.FilteringWebHandler: TRACE




